@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Authentication
@using asp_ecommerce.Models
@inject SignInManager<ApplicationUser> SignInManager

@{ 
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList(); 
    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData[" ReturnUrl "]" method="post">
        @foreach (var provider in loginProviders) {
            <div class="col m5 s12">
                <button type="submit" class="btn external-login-btn col m12 s12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
            </div>
        }
    </form>
}