@{ 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewData["Title"] = "Add Resto Reviews";
}
@model asp_ecommerce.ViewModels.RestoReviewViewModel

<h2>Add a review for a resto</h2>

<div class="row">
    <form class="col s12" method="post" asp-controlller="RestoReview" asp-action="Review">
        <div class="row">
            <div class="input-field col s6">
                <input asp-for="RestoName" class="validate" />
                <label class="active" asp-for="RestoName" data-error="wrong" data-success="right"></label>
                <span asp-validation-for="RestoName" class="text-danger" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <textarea class="materialize-textarea validate" asp-for="ReviewContent"></textarea>
                <label class="active" asp-for="ReviewContent"></label>
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input asp-for="DateVisited" class="datepicker validate" />
                <label class="active" asp-for="DateVisited"></label>
                <span asp-validation-for="DateVisited" class="text-danger"></span>
            </div>
        </div>
        <div class="input-field">
            <input type="submit" value="Add Review" class="waves-effect waves-light btn">
        </div>
    </form>
</div>